.inputs {
  width: 500px;
  height: 75vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  gap: var(--size-1);
}

.recipe-sheet {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: var(--size-fluid-1);
  gap: var(--size-fluid-4);
  justify-content: center;
  font-family: var(--font-geometric-humanist);
}

.recipe-sheet-header {
  color: var(--firebase-gray-95);
  text-wrap: pretty;
  display: flex;
  gap: var(--size-3);
  margin-bottom: var(--size-fluid-1);

  > h1 {
    font-size: var(--font-size-7);
  }

  > img {
    height: var(--font-size-14);
  }
}

.prompt-form {
  display: contents;
}

.image-picker {
  border: var(--size-1) solid var(--firebase-gray-50);
  padding: var(--size-fluid-1);
  width: 100%;
  background-color: var(--firebase-gray-95);
  color: var(--firebase-gray-10);
}

.prompt {
  border: var(--size-1) solid var(--firebase-gray-50);
  background-color: var(--firebase-gray-95);
  font-size: var(--font-size-3);
  resize: none;
  height: 20vh;
  min-height: 5em;
  width: 100%;
  caret-color: auto;
  outline: none;

  &:focus {
    border-color: var(--firebase-orange);
  }
}

.result-area {
  height: 75vh;
  width: 500px;
  max-width: 500px;
  overflow: scroll;
  padding: var(--size-fluid-2);
  backdrop-filter: blur(20px) brightness(650%);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);
  margin-bottom: var(--size-fluid-1);
  p {
    color: var(--firebase-gray-10);
    font-size: var(--font-size-4);
  }
}

.loading-skeleton {
  width: 100%;
}

.loading-skeleton-line {
  height: var(--size-4);
  margin: var(--size-1);
  background-color: var(--firebase-gray-10);
  border-radius: var(--radius-1);
  animation: var(--animation-blink);
}

li {
  font-style: italic;
}

.btn-loading {
  animation: var(--animation-blink);
}

.btn-submit {
  border: var(--size-1) solid var(--firebase-gray-50);
  border-radius: var(--radius-2);
  background-color: var(--firebase-gray-10);
  color: var(--firebase-gray-95);
  font-size: var(--font-size-5);
  text-shadow: none;
  box-shadow: var(--shadow-1);
  width: 100%;
  margin-top: var(--size-fluid-1);

  transition: transform 400ms ease-out, border-color 400ms ease-out;
  will-change: transform;
  &:hover {
    box-shadow: var(--shadow-6);
    border-color: var(--firebase-yellow);
    transform: scale(1.02);
    transition: transform 100ms ease-out, border-color 100ms ease-out;
  }
}

.genkit-response {
  animation: var(--animation-bloom-fade-in);
}
