/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* just dark or light themes */
@import "https://unpkg.com/open-props/normalize.dark.min.css";
@import "https://unpkg.com/open-props/buttons.dark.min.css";
@import "https://unpkg.com/open-props/normalize.light.min.css";
@import "https://unpkg.com/open-props/buttons.light.min.css";

/* individual imports */
@import "https://unpkg.com/open-props/indigo.min.css";
@import "https://unpkg.com/open-props/indigo-hsl.min.css";
@import "https://unpkg.com/open-props/easings.min.css";
@import "https://unpkg.com/open-props/animations.min.css";
@import "https://unpkg.com/open-props/sizes.min.css";
@import "https://unpkg.com/open-props/gradients.min.css";
/* see PropPacks for the full list */

:root {
  --firebase-yellow: #FFC400;
  --firebase-orange: #FF9100;
  --firebase-red: #DD2C00;
  --firebase-gray-10: #1F1F1F;
  --firebase-gray-50: #757575;
  --firebase-gray-95: #F2F2F2;
}

html {
  background-attachment: fixed;
  background-image: linear-gradient(to top left, var(--firebase-gray-10), 90%, var(--firebase-red));
}